PyJWT==2.12.1
PyYAML==6.0.3
aioredis==2.0.1
alembic==1.18.4
email_validator==2.1.1
fastapi==0.110.0
passlib==1.7.4
pip-chill==1.0.5
pydantic_core==2.41.5
python-jose==3.3.0
redis==7.3.0
sqlmodel==0.0.37
uvicorn==0.29.0